@font-face {
    font-family: 'Pinnacle';
    src: url('../fonts/Pinnacle/Pinnacle-Regular.eot');
    src: url('../fonts/Pinnacle/Pinnacle-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pinnacle/Pinnacle-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pinnacle-Bold';
    src: url('../fonts/Pinnacle/Pinnacle-Bold.eot');
    src: url('../fonts/Pinnacle/Pinnacle-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pinnacle/Pinnacle-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pinnacle-DemiBold';
    src: url('../fonts/Pinnacle/Pinnacle-DemiBold.eot');
    src: url('../fonts/Pinnacle/Pinnacle-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pinnacle/Pinnacle-DemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pinnacle-Light';
    src: url('../fonts/Pinnacle/Pinnacle-Light.eot');
    src: url('../fonts/Pinnacle/Pinnacle-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pinnacle/Pinnacle-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pinnacle-Medium';
    src: url('../fonts/Pinnacle/Pinnacle-Medium.eot');
    src: url('../fonts/Pinnacle/Pinnacle-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pinnacle/Pinnacle-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pinnacle-ExtraBold';
    src: url('../fonts/Pinnacle/Pinnacle-ExtraBold.eot');
    src: url('../fonts/Pinnacle/Pinnacle-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pinnacle/Pinnacle-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-Regular.ttf');
    src: url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Light';
    src: url('../fonts/Mulish/Mulish-Light.ttf');
    src: url('../fonts/Mulish/Mulish-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Italic';
    src: url('../fonts/Mulish/Mulish-Italic.ttf');
    src: url('../fonts/Mulish/Mulish-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-LightItalic';
    src: url('../fonts/Mulish/Mulish-LightItalic.ttf');
    src: url('../fonts/Mulish/Mulish-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-ExtraLight';
    src: url('../fonts/Mulish/Mulish-ExtraLight.ttf');
    src: url('../fonts/Mulish/Mulish-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-ExtraLightItalic';
    src: url('../fonts/Mulish/Mulish-ExtraLightItalic.ttf');
    src: url('../fonts/Mulish/Mulish-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Black';
    src: url('../fonts/Mulish/Mulish-Black.ttf');
    src: url('../fonts/Mulish/Mulish-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-BlackItalic';
    src: url('../fonts/Mulish/Mulish-BlackItalic.ttf');
    src: url('../fonts/Mulish/Mulish-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Bold';
    src: url('../fonts/Mulish/Mulish-Bold.ttf');
    src: url('../fonts/Mulish/Mulish-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-Medium';
    src: url('../fonts/Mulish/Mulish-Medium.ttf');
    src: url('../fonts/Mulish/Mulish-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-MediumItalic';
    src: url('../fonts/Mulish/Mulish-MediumItalic.ttf');
    src: url('../fonts/Mulish/Mulish-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-ExtraBold';
    src: url('../fonts/Mulish/Mulish-ExtraBold.ttf');
    src: url('../fonts/Mulish/Mulish-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-ExtraBoldItalic';
    src: url('../fonts/Mulish/Mulish-ExtraBoldItalic.ttf');
    src: url('../fonts/Mulish/Mulish-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish-BoldItalic';
    src: url('../fonts/Mulish/Mulish-BoldItalic.ttf');
    src: url('../fonts/Mulish/Mulish-BoldItalic.ttf') format('truetype');
}